# Managed by Ansible

{{ route.mode }}:
  routers:
    {{ route.routers | to_nice_yaml(indent=2,sort_keys=False) | indent(4,false) }}
  services:
    {{ route.services | to_nice_yaml(indent=2,sort_keys=False) | indent(4,false) }}
